/* Style Tag */

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(rgb(235, 132, 73),rgb(119, 38, 38),rgb(235, 132, 73));
  min-height: 100vh;
}

h1{
  font-size: 25px;
  color: white;
}

h4{
  color: white;
}

label{
  color: white;
  font-size: 14px;
}