/* Style Tag */

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(rgb(32, 115, 209), white,rgb(32, 115, 209));
  min-height: 100vh;
}

h2{
  color: white;
  font-size: 25px;
  text-shadow: 4px 4px 2px black;
}

h5{
  text-align: center;
  color: white;
  margin-top: 10%;
  font-size: 20px;
  text-shadow: 4px 4px 2px black;
}

img{
  height: 300px;
  width: 100%;
  margin-top: 5%; 
  text-align: center;
}

/* Style Class */

/* Style Id */

#scanner{
  font-size: 20px;
}
